{% load static%}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title%}{% endblock %}</title>
    {% block css_files%}{% endblock %}
    <link rel="stylesheet" href="{% static "app.css" %}">
  </head>
  <body>
    <header id="main-navigation">
      <h1><a href="{% url "starting-page" %}"> Akshat's Blog</a></h1>

      <nav>
        <a href={% url "all-post" %}> All Posts</a>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
